<div class="movie-main-container">
    <div class="main-container">
        <div class="top-title">
            Movie details
        </div>
    </div>
    <div class="information-container">
        <div>
            <a routerLink="/" class="back-link">
                <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon> Back
            </a>
        </div>

        <div *ngIf="!movie">
            <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
        </div>

        <div class="top-section" *ngIf="movie">
            <div class="image-section">
                <div *ngIf="movie.Poster && movie.Poster !== 'N/A'">
                    <img [src]="movie.Poster" class="image-poster">
                </div>
                <div *ngIf="movie.Poster === 'N/A' || !movie.Poster">
                    <div class="no-poster">
                        No poster
                    </div>
                </div>
            </div>
            <div class="information-section padding-left">
                <div>
                    <div class="section-title">
                        {{ movie.Title }}
                    </div>
                    <div style="width: 100%;">
                        <div class="information-subsection-description">
                            {{ movie.Plot }}
                        </div>
                        <div class="information-subsection">
                            <div class="information-item">
                                <b>Year</b> : {{ movie.Year }}
                            </div>
                        </div>
                        <div class="information-subsection">
                            <div class="information-item">
                                <b>Type</b> : {{ movie.Type }}
                            </div>
                        </div>
                        <div class="information-subsection">
                            <div class="information-item">
                                <b>IMDB Rating</b>: {{ movie.imdbRating }}
                            </div>
                        </div>
                        <div class="information-subsection">
                            <div class="information-item">
                                <b>Genre</b> : {{ movie.Genre }}
                            </div>
                        </div>
                        <div class="information-subsection">
                            <div class="information-item">
                                <b>Runtime</b> : {{ movie.Runtime }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
