$fontFamily: "Nunito", sans-serif
$borderRadiusValue: 28px
$fontSizeMedium: 18px

.main-container
  font-family: $fontFamily
  background-color: black
 
.top-title
  font-size: 80px
  font-weight: 900
  padding-top: 90px
  padding-bottom: 70px
  color: #fff
  text-align: center

.movie-main-container
  background-color: #fff
  height: 100vh
  color: #000

.information-container
  width: 100%
  max-width: 1000px
  margin: auto
  margin-top: 40px
  margin-bottom: 80px

.top-section
  display: flex
  margin-top: 60px
  margin-bottom: 40px

.padding-left
  padding-left: 20px

.image-section
  width: 30%

.no-poster
  min-width: 250px
  max-width: 250px
  min-height: 380px
  max-height: 380px
  text-align: center
  line-height: 380px
  background-color: #d9d9d9

.information-section
  width: 70%

.section-title
  font-size: 34px
  padding: 10px
  background-color: #f1f1f1
  color: #000
  width: 100%
  letter-spacing: 2px
  margin-bottom: 14px

.information-subsection
  display: flex
  width: 100%
  margin-bottom: 12px

.information-subsection-description
  width: 100%
  margin-bottom: 22px

.information-item
  width: 50%
  padding-bottom: 10px

.back-link
  text-decoration: none
  color: #000
  letter-spacing: 0.4px
  font-weight: 600

  &:hover
    color: #404040

.arrow-icon
  position: relative
  top: 6px

@media only screen and (max-width: 1140px)
  .top-title
    font-size: 60px
    padding-top: 60px
    padding-bottom: 60px

  .information-container
    width: 100%
    max-width: 700px

  .image-section
    width: 50%

@media only screen and (max-width: 792px)
  .top-title
    font-size: 50px
    padding-top: 50px
    padding-bottom: 50px

  .information-container
    width: 100%
    max-width: 500px

  .image-section
    width: 50%

  .image-poster
    max-width: 350px
    max-height: 350px

@media only screen and (max-width: 600px)
  .image-poster
    max-width: 500px
    max-height: 500px

  .image-section
    width: 100%

  .information-container
    width: 80%
    text-align: center

  .information-section
    width: 80%
    text-align: center

  .top-section
    display: grid

  .information-subsection
    justify-content: center
