<div class="main-container">
    <div class="search-container">

        <div class="top-title">
            Search for a movie
        </div>

        <div class="search-main-wrapper">
            <form (submit)="searchMovieOnButton(searchText)" class="search-form">
                <input name="searchInput" [(ngModel)]="searchText" type="text"
                    class="search-form__input search-form__input--query search-form--left-border-radius"
                    placeholder="Movie title">
                <button class="search-form__input search-form__search-button search-form--right-border-radius"
                    [disabled]="searchText === ''" type="submit">
                    Search <mat-icon class="search-form__search-icon">search</mat-icon>
                </button>
            </form>
        </div>
    </div>


    <div class="grid-wrapper">
        <div *ngIf="totalResults > 0">
            totalMovies: {{ totalResults }}
        </div>
        <div class="grid-container" *ngIf="movies">
            <div *ngFor="let movie of movies" class="movie-grid-item">
                <a *ngIf="movie.imdbID" [routerLink]="'/details/' + movie.imdbID" class="movie-item-link">
                    <div>
                        <ng-template [ngIf]="movie.Poster && movie.Poster !== 'N/A'">
                            <img [src]="movie.Poster" class="grid-poster-image">
                        </ng-template>
                        <ng-template [ngIf]="movie.Poster === 'N/A' || !movie.Poster">
                            <div class="grid-no-poster">
                                No poster
                            </div>
                        </ng-template>
                    </div>
                    <div>
                        <div class="movie-grid-title">
                            {{ movie.Title }}
                        </div>
                        <div class="details">
                            {{ movie.Year }}
                            {{ movie.Type }}
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div *ngIf="spinner">
            <div>
                <mat-progress-bar mode="indeterminate" class="center"></mat-progress-bar>
            </div>
        </div>

    </div>
</div>
