$fontFamily: "Nunito", sans-serif
$borderRadiusValue: 28px
$fontSizeMedium: 18px

=left-border-radius
  border-top-left-radius: $borderRadiusValue
  border-bottom-left-radius: $borderRadiusValue

=right-border-radius
  border-top-right-radius: $borderRadiusValue
  border-bottom-right-radius: $borderRadiusValue

.main-container
  margin-bottom: 100px
  font-family: $fontFamily

.search-container
  background-color: black
  width: 100%
  height: 450px
  margin-bottom: 60px

.details
  font-size: 16px
  font-weight: 600
  margin-top: 20px
  margin-bottom: 10px
  color: #000

.top-title
  font-size: 80px
  font-weight: 900
  padding-top: 100px
  padding-bottom: 80px
  color: #fff
  text-align: center

.search-main-wrapper
  width: 100%
  max-width: 1100px
  margin: auto

input
  box-sizing: border-box

.search-form
  width: 100%
  display: flex
  flex-grow: row wrap
  align-items: center

  &__input
    width: 70%
    height: 54px
    font-size: $fontSizeMedium
    font-family: $fontFamily
    padding-left: 16px
    padding-right: 10px
    color: #808080
    outline: none
    border: none

    &:hover
      background-color: #f1f1f1

    &--query
      min-width: 400px

  &--left-border-radius
    +left-border-radius

  &--right-border-radius
    +right-border-radius

  &__search-button
    width: 30%
    line-height: 54px
    font-size: $fontSizeMedium
    text-transform: uppercase
    letter-spacing: 2px
    color: #fff
    background-color: #e60000

    &:disabled
      background-color: #aaa
      color: grey

  &__search-icon
    position: relative
    top: 5px
    left: 10px  

  &__search-icon
    position: relative
    top: 5px
    left: 10px

.movie-item-link
  text-decoration: none

.grid-wrapper
  max-width: 1040px
  margin: auto

.grid-container
  display: grid
  grid-template-columns: auto auto auto auto

.movie-grid-item
  margin-left: 5px
  margin-right: 5px
  margin-bottom: 30px
  min-height: 380px

  &:hover
    transform: scale(1.05)
    transition: transform 0.2s ease

.grid-poster-image
  min-width: 250px
  max-width: 250px
  min-height: 380px
  max-height: 380px

.grid-no-poster
  min-width: 250px
  max-width: 250px
  min-height: 380px
  max-height: 380px
  text-align: center
  line-height: 380px
  background-color: #d9d9d9

.movie-grid-title
  font-size: 18px
  font-weight: 600
  margin-top: 20px
  color: #000

@media only screen and (max-width: 1140px)
  .top-title
    font-size: 60px
    padding-top: 60px
    padding-bottom: 60px

  .search-main-wrapper
    width: initial
    max-width: 780px

  .search-form
    display: grid

    &__display
      display: flex
      width: 100%

    &__input
      width: 100%
      margin-bottom: 8px

      +left-border-radius
      +right-border-radius

  .grid-wrapper
    max-width: 780px

  .grid-container
    grid-template-columns: auto auto auto

@media only screen and (max-width: 792px)
  .top-title
    font-size: 50px
    padding-top: 50px
    padding-bottom: 50px

  .grid-wrapper
    max-width: 540px

  .grid-container
    grid-template-columns: auto auto

@media only screen and (max-width: 536px)
  .grid-container
    grid-template-columns: auto

  .movie-grid-item
    margin: auto
    margin-bottom: 20px
    width: 250px
    text-align: center
